.Sidebar {
  position: relative;
  flex-shrink: 0;
  overflow: auto;
  width: var(--sidebar-width);
  height: 100dvh;
  background-color: var(--color-background);
  box-shadow: 1px 0px var(--gray-6);
}

.SidebarSpacer {
  width: 100%;
  height: var(--menubar-height);
  box-shadow: 0 1px var(--gray-6);
}

@media (min-width: 0px) {
  .Sidebar {
    display: none;
  }
}

@media (min-width: 768px) {
  .Sidebar {
    display: block;
  }
}
