@import "./components/atoms/ColorSwatch.css";
@import "./components/atoms/Facelet.css";

@import "./components/molecules/FaceVisualizer.css";

@import "./components/organisms/Menubar.css";
@import "./components/organisms/Sidebar.css";

:root {
  --menubar-height: 50px;
  --sidebar-width: 300px;

  --gradient-transparent: repeating-conic-gradient(
      rgb(255, 255, 255) 0%,
      rgb(255, 255, 255) 25%,
      rgb(238, 238, 238) 0%,
      rgb(238, 238, 238) 50%
    )
    0% 0% / 16px 16px;
}

html.dark-theme {
  --gradient-transparent: repeating-conic-gradient(
      rgb(0, 0, 0) 0%,
      rgb(0, 0, 0) 25%,
      rgb(17, 17, 17) 0%,
      rgb(17, 17, 17) 50%
    )
    0% 0% / 16px 16px;
}

.radix-themes {
  --cursor-button: pointer;
  --cursor-checkbox: pointer;
  --cursor-disabled: default;
  --cursor-link: pointer;
  --cursor-menu-item: pointer;
  --cursor-radio: pointer;
  --cursor-slider-thumb: grab;
  --cursor-slider-thumb-active: grabbing;
  --cursor-switch: pointer;
}

.chrome-picker {
  background-color: var(--color-panel-solid) !important;
}

.chrome-picker input {
  background-color: var(--color-surface) !important;
  color: var(--gray-12) !important;
}
